# Project exclude paths
/.gradle/
/build/
/out/
/t2lc/build/
/t2lc/build/classes/java/main/
/t2lc/build/classes/java/test/
/TVM/build/
/TVM/build/classes/java/main/
bin/

# T2L compiled files
*.t2lc
*.t2lm
*.t2ll

# C#
.vs/
build/
bin/
obj/
